<ion-header>
  <ion-toolbar>
    <ion-title>{{titre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/bistrot-des-gascons">Bistrot des Gascons</ion-button>
      </ion-col>
      <ion-col>
        <ion-button routerLink="/les-fous-de-lile">Les fous de l'île</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/bistrot-landains">Bistrot Landais</ion-button>
      </ion-col>
      <ion-col>
        <ion-button routerLink="/bisrtot-du-sommelier">Bistrot du Sommelier</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button>Devenez partenaire !</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
