<ion-header>
  <ion-toolbar>
    <ion-title>Nos recettes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/homard">Homard</ion-button>
      </ion-col>
      <ion-col>
        <ion-button routerLink="/st-jacques">St-Jacques</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/bar">Bar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button routerLink="/tourteau">Tourteau</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button>Recette</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>Recette</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
