<ion-header>
</ion-header>

<ion-content>
  <div id="head">
    <ion-grid>
      <ion-row>

        <ion-col>
        
            <!--<img class="imageHome" src="../../assets/homeLogo.png">-->
            <button id="bouton" routerLink="/home">
              <img class="imageHome" src="../../assets/homeLogo.png"/>
            </button>
          
        </ion-col>

        <ion-col>
          <img class="image" src="../../assets/navbarbg.png" height="100%">
        </ion-col>

        <ion-col>
          <!--<img class="imageCart" src="../../assets/cartLogo.png">-->
          <button id="bouton" routerLink="/panier">
            <img class="imageCart" src="../../assets/cartLogo.png"/>
          </button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
  <ion-button *ngFor="let i of listePanier">
    <ion-grid>
      <ion-row>
        <ion-col >
          <div id="logo" style="text-align:center; height:100%;">
            <img src="../../../assets/logo/poulpe.png" style="height:80%; width:20%; padding-top: 20px;"/>
          </div>
        </ion-col>
        <ion-col>
          <div id="name" style="text-align:center; height:100%; padding:50px;">
            {{i.name}}
          </div>
        </ion-col>
        <ion-col>
          <div id="price" style="text-align:center; height:100%; padding:50px;">
            {{i.price}}€
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-button>
</ion-content>
