#head{
    height:100px;
    background-color:black;
}


#bouton{
    background-color: black;
}


ion-button{
    color:white;
    --background: black;
    --opacity:0.4;
    height:100px;
    width:100%;
    --border-style:solid;
    --border-color:black;
    --border-radius:none;

}