<ion-header>
  <ion-toolbar>
    <ion-title>Bateau</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Nos bateaux partenaires</h1>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/de-la-brise">De la brise</ion-button>
      </ion-col>
      <ion-col>
        <ion-button routerLink="/saphir">Saphir</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/gast-micher">Gast Micher</ion-button>
      </ion-col>
      <ion-col>
        <ion-button routerLink="/aquilon">Aquilon</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button>Contactez-nous</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
