<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div id="container">
    <h1>Le bateau de Thibault</h1>
    <h3>Vente en direct de notre bateau</h3>
    <h3>Produit selon la saison, Livraison sur Paris</h3>
    <p>06.63.99.99.78</p>
    <p>lebateaudethibault@gmail.com</p>
    <p>www.facebook.com/lebateaudethibault</p>
    <ion-button routerLink="/produit">Produit et promotion</ion-button>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/bateau']">Bateaux</ion-button>
        
      </ion-col>
      <ion-col>
        <ion-button [routerLink]="['/restaurant']">Restaurants</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/recette']">Recettes</ion-button>
      </ion-col>
      <ion-col>
        <ion-button [routerLink]="['/contact']">Contact</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
