
<ion-header>
  
</ion-header>
<ion-content>
  <div id="contenue">
    <h1>RecetteXYZ</h1>
    <ion-img src="../../assets/Recettes/poulpe@3x.png" ></ion-img>
    <p>Qu'il est chaud le soleil<br>Quand nous sommes en vacances
      <br>Y a d'la joie, des hirondelles
      <br>C'est le sud de la France
      <br>Papa bricole au garage
      <br>Maman lit dans la chaise longue
      <br>Dans ce joli paysage
      <br>Moi, je me balade en tongs
      <br><br>Que du bonheur!
      <br>Que du bonheur!
    </p>

  </div>
</ion-content>